.logo{
  width: 6rem;
}
.espacioNavbarLogo{
  display:flex;
  justify-content: center;
  align-items: center;
}
.greeting{
  display: flex;
  justify-content: center;
}
.barraNavbar{
  display: flex;
}
.espacioNavbarItems{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 3rem;
  padding-top: 1rem;
}
.espacioNavbarLinks{
  list-style-type: none;
  display: flex;
}
.espacioNavbarLinks a{
  text-decoration: none;
  color:rgb(211, 211, 211);
  padding: 0rem 1rem;
}
.espacioNavbarLinks a:hover{
  color:white;
}
.espacioNavbarCarrito{
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryLinks{
  list-style-type: none;
  display: flex;
}
.categoryLinks a{
  text-decoration: none;
  color:rgb(94, 94, 94);
  padding: 0rem 1rem;
}
.categoryLinks a:hover{
  color:black;
}
.countSpace{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 13rem;
  background-color: rgb(221, 221, 221);
  margin-right:auto;
  margin-left: auto;
}
.countSpace button{
  margin: 3rem;
}

.btn__agregarCarrito{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:1rem;
}
.btn__InfoItem{
  display: flex;
  justify-content: center;
  margin-right:auto;
  margin-left: auto;
}
.spaceInfo{
  display: flex;
  justify-content: center;
}
.btnVolver{
  color: blueviolet;
  cursor: pointer;
  font-size: 1.5rem;
}