/* color alternativo: 034e82 */

#root,
html {
  background-color: rgb(33, 33, 33);
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.logo {
  width: 22vh;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.generalNavbar {
  display: flex;
  height: 15vh;
  background-color: rgb(85, 85, 85);
}

.espacioNavbarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  display: flex;
  justify-content: center;
}

.espacioNavbarItems {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.espacioNavbarLinks {
  list-style-type: none;
  display: flex;
}

.espacioNavbarLinks a {
  text-decoration: none;
  color: rgb(211, 211, 211);
  padding: 0rem 1rem;
}

.espacioNavbarLinks a:hover {
  color: white;
}

.espacioNavbarCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.espacioNavbarCarrito a {
  text-decoration: none;
}

.categoryNavbar {
  background-color: grey;
}

.categoryLinks {
  list-style-type: none;
  display: flex;
}

.categoryLinks a {
  text-decoration: none;
  color: rgb(94, 94, 94);
  padding: 0rem 1rem;
}

.categoryLinks a:hover {
  color: black;
}

.countSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  background-color: rgb(221, 221, 221);
  border-radius: 8%;
  margin-right: auto;
  margin-left: auto;
}

.countSpace button {
  margin: 3vh;
}

.agregarCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn__InfoItem {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.spaceInfo {
  display: flex;
  justify-content: center;
}

.btnAtras {
  color: #034e82;
  cursor: pointer;
  font-size: 1.5rem;
}

.btnOutline {
  color: white;
  border-color: white;
}

.btnOutline:hover {
  color: white;
  background-color: #034e82;
  border-color: #034e82;
}

.btnSolid {
  background-color: #034e82;
  border-color: #034e82;
  color: white;
}

.btnSolid:hover {
  background-color: #02385f;
  border-color: #02385f;
  color: white;
}

.cartQuantity {
  color: white;
}

.itemCard {
  width: 16rem;
  margin: 2vh;
  border-radius: 5%;
  box-shadow: -7px 6px 8px black;
  background-color: rgb(85, 85, 85);
}

.itemCardTitle {
  color: rgb(228, 228, 228);
}

.itemCardImg {
  width: 20vh;
  margin: 5vh;
}

.itemCardBody {
  border-top: 3px solid #034e82;
  margin: 2vh;
  color: rgb(228, 228, 228);
}

.loadingBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.itemList {
  position: relative;
  height: 20vw;
  display: flex;
  align-items: center;
}

.itemListTitle {
  position: absolute;
  color: #022d4b63;
  font-size: 10vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.itemListSubtitle {
  position: absolute;
  color: white;
  font-size: 5vw;
  margin: 5vh 0vh 5vh 4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.alertText {
  background-color: white;
  color: rgb(68, 68, 68);
  padding: 4vh;
  width: fit-content;
  box-shadow: 5px 5px 3px rgb(63, 63, 63);
  border-left: solid 5px yellow;
}

.orderId {
  background-color: white;
  color: rgb(68, 68, 68);
  padding: 4vh;
  width: fit-content;
  margin-left: 40%;
  border-radius: 5%;
}

.myInfoMain{
  border-bottom: solid 2px white;
}

.myInfoTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
}

.navbarActive{
  color:yellow
}

@media (max-width: 530px){
  .myInfoTitle{
    font-size: 30px;
  }
  .espacioNavbarLogo{
    display: none
  }
  .espacioNavbarItems{
    display: flex;
  align-items: center;
  justify-content: start;
  }

  .espacioNavbarLinks{
    display: block;
  }
}